@tailwind base;
@tailwind components;
@tailwind utilities;

.title-font {
  font-family: 'Playfair Display', serif;
}

.body-font {
 font-family: 'Libre Baskerville', serif;
}

.section-title-font {
  font-family: 'Bebas Neue', sans-serif;
}

.banner-title-font {
  /* font-family: 'Bebas Neue', sans-serif;
  font-family: 'Bevan', serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Girassol', serif;
  font-family: 'Inter', sans-serif; */
  font-family: 'Kaushan Script', cursive;
  /* font-family: 'Libre Baskerville', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rampart One', sans-serif; */
}

.common-input {
  @apply border p-2 w-full border-red-500 rounded border-b-4 md:p-3 bg-white
}

.active {
  @apply text-[#F8FFD2] font-medium border-b pb-1 border-[#F8FFD2]
}

.sizing {
  @apply w-10/12 mx-auto
}

.nav-bg {
  @apply bg-black
}

.round {
  border-radius: 100px 100px 0px 0px;
}

.my-btn-disable {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed
}

.my-text-color {
  @apply text-center font-bold bg-clip-text text-transparent bg-gradient-to-r from-black to-red-600
}

.btn-grad {
  @apply px-6 py-3 bg-[#DF826C] text-black 
}


/* 
.btn-grad::before {
  content: "" ;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background:#8ADAB2 ;
  z-index: -1;
  transition: 0.8s;

  top: 0;
}
.btn-grad:hover::before{
  height: 180%;
} */

.dash-bg {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}