@tailwind base;
@tailwind components;
@tailwind utilities;

.title-font {
font-family: 'Playfair Display', serif;

}

.body-font {
/* font-family: 'Bebas Neue', sans-serif; */
/* font-family: 'Bevan', serif; */
/* font-family: 'Fira Sans', sans-serif; */
/* font-family: 'Girassol', serif; */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Kaushan Script', cursive; */
/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Merriweather', serif; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Rampart One', sans-serif;  */
/* font-family: 'Lato', sans-serif; */
font-family: 'Roboto Slab', serif;
/* font-family: 'Work Sans', sans-serif; */

}

.section-title-font {
  font-family: 'Bebas Neue', sans-serif;
}

.banner-title-font {
  font-family: 'Kaushan Script', cursive;
}

.common-input {
  @apply border p-2 w-full border-red-500 rounded border-b-4 md:p-3 bg-white
}

.active {
  @apply text-[#F8FFD2] font-medium border-l-2  pl-1 border-[#F8FFD2]
}

.sizing {
  @apply w-11/12 mx-auto
}
.sizing2 {
  @apply w-10/12 mx-auto
}

.nav-bg {
  @apply bg-black
}

.round {
  border-radius: 100px 100px 0px 0px;
}

.my-btn-disable {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed
}

.my-text-color {
  @apply text-center font-bold bg-clip-text text-transparent bg-gradient-to-r from-black to-red-600
}

.btn-grad {
  @apply px-6 py-3 bg-[#DF826C] text-black 
}


.dash-bg {
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

/* backgrounds color */
.bg1{
  @apply bg-[#DF826C]
}
.bg2{
  @apply bg-[#F8FFD2]
}
.bg3{
  @apply bg-[#D0F288]
}
.bg4{
  @apply bg-[#8ADAB2]
}
.text1{
  @apply text-[#DF826C]
}
.text2{
  @apply text-[#F8FFD2]
}
.text3{
  @apply text-[#D0F288]
}
.text4{
  @apply text-[#8ADAB2]
}
/* ====all button css== */
.all-btn{
  display: block; 
  padding: 15px 20px; 
  border-left: 5px solid; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: rgb(21, 20, 20);
  font-weight: 700;
  border-color: white;
  background: #DF826C;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
}
    
.all-btn:hover{ @apply border-b-0  font-bold;}

.all-btn:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0;  
  position: absolute; 
  transition: all 0.6s ease 0s; 
  -webkit-transition: all 0.6s ease-out; 
  z-index: -1;
}

.all-btn:hover:after{ width: 100%; }

.all-btn:after{ background: #8ADAB2; }


/*======= section-btn css ===== */

.section-btn{
  display: block; 
  padding: 10px 20px; 
  border-left: 5px solid; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: rgb(21, 20, 20);
  font-weight: 700;
  border-color: white;
  background: #8ADAB2;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
}
    
.section-btn:hover{ @apply border-b-0  font-bold;}

.section-btn:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0;  
  position: absolute; 
  transition: all 0.6s ease 0s; 
  -webkit-transition: all 0.6s ease-out; 
  z-index: -1;
}

.section-btn:hover:after{ width: 100%; }

.section-btn:after{ background: #DF826C; }
/* =============================================================== */



.b {@apply border border-black}